body{
background-image: linear-gradient(to right,rgba(0, 183, 255, 0.589),rgb(195, 9, 252));
position: relative;
}
.form{
    position: absolute;
    right: 39%;
    left: 39%;
    top: 20%;
    margin: auto;
    background-color: white;
    display: inline-block;
    padding: 5px 27px;
    font-size: 20px;
    line-height: 40px
}
.form h1{
    font-size: 35px;
    text-align: center;
}
.input{
    width: 280px;
    height: 30px;
}
.form p{
    color: blue;
}
.button{
    width: 280px;
    height: 40;
    background-image: linear-gradient(to right,rgba(0, 183, 255, 0.589),rgb(195, 9, 252));
    font-weight: bold;
    color: white;
    font-size: 20px;
}